
# Site Settings
title: "Rethinking Intelligence"
email: "robertdtodd@berkeley.edu"
description: "Rethinking Intelligence is a site dedicated to promoting understanding of artificial intelligence."
baseurl: ""
url: "https://rethinkingintelligence.ai"
bluesky_username: robertdtodd
github_username:  robertdtodd
repository: "robertdtodd/github.io"

# site author
author:
  name     : "Robert Todd"
  avatar   : "assets/images/RT-headshot-2025-xsm.png"
  bio      : "I am a learning-technology pioneer who helps people understand and collaborate with machine intelligence."
  location : "San Francisco, CA"
  email    : "robertdtodd@berkeley.edu"


keep_files:
  - images

include: ["_pages"]

# Build settings
remote_theme: mmistakes/minimal-mistakes
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-archives
  - jekyll-seo-tag

logo: "assets/images/logo-close-nobg.png"
og_image: "/assets/images/logo-close-nobg.png"
google_site_verification: "LDpU-IedCW0op8S1sAhsGkfEkjYPTRDOWaEcDgSxKKs"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-51PZDP241T"
    anonymize_ip: false # default

atom_feed:
  hide: true

search: true
lunr:
  search_within_pages: true

permalink: /blog/:year/:month/:day/:title/

collections:
  experiments:
    output: true
    permalink: /experiments/:path/

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      show_date: true
      layout: single
      author_profile: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _experiments
  - scope:
      path: ""
      type: experiments
    values:
      layout: single
      author_profile: true
      share: true


jekyll-archives:
  enabled:
    - categories
    - tags
    - year
    - month
    - day
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy

  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

minimal_mistakes_skin:
  - "dirt"

date_format: "%Y-%b-%d"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
